
@font-face {
  font-family: 'icomoon';
  src:url('/styles/fonts/icomoon.eot?i0yotl');
  src:url('/styles/fonts/icomoon.eot?i0yotl#iefix') format('embedded-opentype'),
    url('/styles/fonts/icomoon.ttf?i0yotl') format('truetype'),
    url('/styles/fonts/icomoon.woff?i0yotl') format('woff'),
    url('/styles/fonts/icomoon.svg?i0yotl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
