.detail {
  font-family: $primary-font;
  text-transform: uppercase;

  em {
    font-weight: 100;
    font-size: 8em;
  }

  h1 {
    font-weight: lighter;
    font-size: 1rem;
  }

  p {
    font-size: .75rem;
  }

  h2 {
    font-size: 10em;
    margin: 5rem auto;
    font-weight: thin;

    &:after {
      content: "\00b0"
    }
  }

  li {
    padding-left: 5%;
    padding-right: 5%;
  }

  span {
      font-size: 1em;  
  }
}
